<a href="https://colab.research.google.com/github/yashppawar/FSDS/blob/main/assignments/04-Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT 04

## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [3]:
numbers = [12, 75, 150, 180, 145, 525, 50]

mx = numbers[0]

for i in range(1, len(numbers)):
    if mx < numbers[i]:
        mx = numbers[i]

print(f"Max : {mx}")

Max : 525

Q2. Print all the even number between (1, 12).

In [4]:
for i in range(2, 12): # open interval, does not include 12 or 1
    if i % 2 == 0:
        print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [5]:
n = int(input("Enter number: "))

sum = 0
for i in range(n + 1):
    sum += i

print(f"Sum is: {sum}")

Enter number: 10
Sum is: 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [6]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

for n in numbers:
    if n > 500:
        break
    if n > 150:
        continue
    if n % 5 == 0:
        print(n)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [7]:
list1 = [10, 20, 30, 40, 50]

list1[::-1]

[50, 40, 30, 20, 10]

# Thank you
submitted on: 12th October 2022