<a href="https://colab.research.google.com/github/yashppawar/FSDS/blob/main/assignments/FSDS_bootcamp_assignment_005_Oct_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [3]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

inp = ""
cart = []
total = 0

while inp != "done":
    inp = input("Enter item name: ")
    if inp not in [item for item, prize in amazon_website]:
        print("Out of Stock")
    else:
        qty = int(input("Enter quantity: "))
        cart.append((inp, qty))

print("Your Cart: ")
for item, qty in cart:
    print(f"{item} -- x{qty}")
    for product in amazon_website:
        if product[0] == item:
            total += product[1] * qty
            break

print(f"Total = {total}")

Enter item name: pizza
Out of Stock
Enter item name: laptop
Enter quantity: 3
Enter item name: shirt
Enter quantity: 1
Enter item name: colab pro
Out of Stock
Enter item name: watch
Enter quantity: 2
Enter item name: done
Out of Stock
Your Cart:
laptop -- x3
shirt -- x1
watch -- x2
Total = 161000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [1]:
## Expected Output: 2 3 4 5 6 6

arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]

for i in range(0, 6):
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [5]:
tup = (1, 2, 3, 3, 4, 2, 7, 8)
duplicates = set()

for i, e in enumerate(tup):
    for ix, ex in enumerate(tup):
        if e == ex and i != ix:
            duplicates.add(e)

print(duplicates)

{2, 3}

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [2]:
input_tuples = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
output = [(e[0], e[1], 500) for e in input_tuples]

output

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

# Thank you
Submitted on: 18th October 2022